body {
    background-image: url(e1.jpg);
    background-size: 100%;
}

p {
    color: red;
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: green;
}

.special {
    background-color: pink;
}

div {
    border: 4px darkred solid;
    border-radius: 35px;
    width: 400px;
    height: 200px;
}
